<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda - Nombre Integrante </title>
</head>
<body>
    <p> Buscamos: {{nombre}} </p>
    {% if integrantes %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>edad</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>fecha_nacimiento</th>
            </tr>
        </thead>
        <tbody>
            {% for x in integrantes%}
            <tr>
                <td>{{x.edad}}</td>
                <td>{{x.nombre}}</td>
                <td>{{x.apellido}}</td>
                <td>{{x.fecha_nacimiento}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</body>
</html>